<header class="bar bar-nav default-style">
    <a class="icon icon-left pull-left" href="#/me/index" data-transition="slide-out"></a>
    <h1 class="title">修改密码</h1>
</header>
<!-- 页面内容区域 -->
<div class="content padding-plus register-box" style="top: 2.2rem;">
    <!-- <ul class="alert-ul">
			<li class="danger-color">账号未激活，请等待客服激活...</li>
			<li class="btn"></li>
		</ul> -->
    <ul class="forget-list list-block ">
        <li>
            <div class="item-inner ">
                <div class="item-title label" style="width:25%;">原密码</div>
                <div class="item-input">
                    <input type="password" placeholder="请输入密码" ng-model="password_info.oldPassword">
                </div>
            </div>
        </li>
        <li>
            <div class="item-inner verify">
                <div class="item-title label" style="width:25%;">新密码</div>
                <div class="item-input">
                    <input type="password" placeholder="请输入新密码" ng-model="password_info.passportPassword">
                </div>
            </div>
        </li>
        <li>
            <div class="item-inner verify">
                <div class="item-title label" style="width:25%;">确认密码</div>
                <div class="item-input">
                    <input type="password" placeholder="请再次输入新密码" ng-model="password_info.verifyPassword">
                </div>
            </div>
        </li>
        <li class="confirm">
            <!-- 获取验证码可用时，去掉disabled -->
            <a class="button button-fill button-big button-default" ng-click="password_submit('set')">确 认</a>
        </li>
    </ul>
</div>
